.home-container {
    height: fit-content;
    margin-top: 65px;
}

#home-logo-container {
    padding-top: 30px;
    height: calc(100vh - 65px - 50px);
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgba(176,0,147,1) 0%, rgba(39,0,130,1) 70%);
}

#home-logo {
    margin-top: auto;
    width: max(50vw, 300px);
}

#motto {
    padding-top: 30px;
}

#home-scroll-button {
    margin-top: auto;
    padding-bottom: 30px;
}

#home-body {
    background-color: #1A1A40;
    padding: 80px 20vw;
    height: 1000px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
}

#home-body-mobile {
    background-color: #1A1A40;
    padding: 80px 20px;
    height: 1000px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
}

html {
    scroll-behavior: smooth;
}