.header-appbar {
    height: 65px;
}

.header-page {
    align-self: center;
}

.header-page-button {
    width: 200px;
    height: 50px;
}

.header-menu {
    position: absolute;
}

.header-logo {
    margin-right: auto;
    height: 60px;
    cursor: pointer;
}

.header-logo.centered {
    margin-left: auto;
    margin-right: unset;
}

.header-icon-place-holder {
    width: 56px;
    margin-left: auto;
}