.header-appbar {
    height: 65px;
}

.header-page {
    align-self: center;
}

.header-page-button {
    width: 150px;
    height: 50px;
}

.header-menu {
    position: absolute;
}

.header-logo {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.header-logo-centered {
    align-self: center;
    position: relative;
    margin-left: auto;
}

.header-icon-place-holder {
    width: 56px;
    margin-left: auto;
}