.projects-background {
    background-color: #1A1A40;
    height: 2000px;
}

.projects-title {
    line-height: 24px;
}

.container {
    padding-top: 100px;
}

.projects-container {
    height: fit-content;
    margin-top: 65px;
}

.project-card {
    margin: 0px 10px 20px 10px;
}

#projects-body {
    background-color: #1A1A40;
    padding: 80px 17.5vw;
    height: fit-content;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



#projects-body-mobile {
    background-color: #1A1A40;
    padding: 80px 20px;
    height: fit-content;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about-teams {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

#about-team-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: center;
}

#project-grid {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}