.sidebar {
    background-color: #060b26;
    width: 250px;
    padding-top: 65px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;
}

.sidebar.active {
    left: 0;
    transition: 350ms;
}

.sidebar-items {
    width: 100%;
    padding-right: 40px;
}

.sidebar-button {
    width: 200px;
    height: 50px;
}