.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'pressStart';
  src: url(../public/fonts/PressStart2P-Regular.ttf) format("truetype")
}
