.events-background {
    margin-top: 65px;
    height:100%;
}

#events-body {
    background-color: #1A1A40;
    padding: 80px 20vw;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

#events-body-mobile {
    background-color: #1A1A40;
    padding: 80px 20px;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}